<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	  <add key="login_url" value="http://localhost:8000/identity/login" />
	  <add key="commands_url" value="http://localhost:8000/bff/backoffice/orders"/>
	  <add key="payments_url" value="http://localhost:8000/bff/backoffice/payments"/>
	  <add key="socket_url" value="http://localhost:8000"/>
	</appSettings>
</configuration>