<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	  <add key="login_url" value="http://localhost:3003/login" />
	  <add key="commands_url" value="http://localhost:3000/backoffice/orders"/>
	  <add key="payments_url" value="http://localhost:3000/backoffice/payments"/>
	</appSettings>
</configuration>