<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	  <add key="login_url" value="https://suntzu.digiploux.fr/identity/login" />
	  <add key="refresh_url" value="https://suntzu.digiploux.fr/identity/refresh" />
	  <add key="commands_url" value="https://suntzu.digiploux.fr/bff/backoffice/orders"/>
	  <add key="payments_url" value="https://suntzu.digiploux.fr/bff/backoffice/payments"/>
	  <add key="socket_url" value="https://suntzu.digiploux.fr/"/>
	</appSettings>
</configuration>